<div class="w-full pt-4">
  <hlm-table class="m-auto max-w-[800px] min-w-[200px]">
    <hlm-caption>A list of collected emails</hlm-caption>
    <hlm-trow>
      <hlm-th>Email</hlm-th>
      <hlm-th class="flex-1"></hlm-th>
      <hlm-th class="justify-end">Date</hlm-th>
    </hlm-trow>
    @for (email of emails; track email.id) {
    <hlm-trow>
      <hlm-td>
        {{email.address}}
      </hlm-td>
      <hlm-td class="flex-1"></hlm-td>
      <hlm-td class="justify-end mr-4">
        {{email.date}}
      </hlm-td>
    </hlm-trow>
    }
  </hlm-table>
</div>